body
    {
        background-color: white;
    }

input
    {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

button
    {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

#login
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

#Multigram
    {
        font-family: cursive;
        text-align: center;
    }

#login-button
    {
        background-color : #00bfff;
        color: white;
    }
.navHeader
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: 1px solid lightgrey;

    }
#headerIcon
    {
        margin-right: 1em;
    }
.feedHeader
    {
        width: 100%;
        display: flex;
        height: 10em;
        justify-content:baseline;
        border: 1px solid lightgrey;
        padding: 1em 0 1em 0;
        align-items: center;

    }
.feedProfileImg
    {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid lightgrey;
        margin-right: 1em;
        margin-left: 2em;
    }
.feedInfo
    {   
        display: flex;
        flex-direction: column;
        margin: 0 0 0 10em;
        
        
    }
.feedDetails
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
.feedSong
    {
        margin: 2px 0;
    }

#feedThreeDots{
    display: flex;
    margin: 1.5em 2em 0 0;
    /*justify-content: center;*/
    /*align-items: center;*/
}
.postParent{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 10em;
}
.postMute{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.postInteractions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
}

#postIcons{
    margin-right: 1em;
}
.postDetails{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.feedFeature1
{
    display: flex;
    font-size: 2em;
    border-radius:10px;
    border: 1px solid lightgrey;
    padding: 5px 2em 5px 2em;
}

.feedFeature2
{
    font-size: 2em;
    display: flex;
    border-radius:10px;
    margin: 1.2em 0 0 1em;
    justify-content: space-between;
    border: 1px solid lightgrey;
    padding: 5px 2em 5px 2em;
}

.profileText
{
    border: 1px solid lightgrey;
    display:flex;
    width: 100%;
}
.feedText
{
    
    width: 100%;
    padding: 0 0 3em 2em;
    
}

.feedStats
{
    border: 1px solid lightgrey;
    width: 100%;
    font-family: sans-serif;
    
    
}
.feedComponents
{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 15em 1em 15em;
}

.feedOptions
{
    display: flex;
    flex-direction: row;
    padding: 1em 10em 1em 10em;
}

.profileValues
{
    border: 1px solid lightgrey;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

#imagesValues1
{
    margin-right: 10em;
}

#imagesValues2
{
    margin:0 10em 0 10em;
}

#imagesValues3
{
    margin-left: 10em;
}

.feedImages
{
 
}

.imagesFirstRow
{
    margin: 0 0 0 20em;
    display:inline-block;
    
}

.imagesSecondRow
{
    margin: 0 0 0 20em;
    display: inline-block;
    
}