body
    {
        background-color: white;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

input
    {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

button
    {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

#login
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

#Multigram
    {
        font-family: cursive;
        text-align: center;
    }

#login-button
    {
        background-color : #00bfff;
        color: white;
    }
.navHeader
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid lightgrey;

    }
#headerIcon
    {
        margin-right: 1em;
    }
.feedHeader
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid lightgrey;
        padding: 1em 0 1em 0;

    }
.feedProfileImg
    {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid lightgrey;
        margin-right: 1em;
        margin-left: 2em;
    }
.feedInfo
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
.feedDetails
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
.feedSong
    {
        margin: 2px 0;
    }
.feedProfile
    {
        margin: 2px 0;
    }
#feedThreeDots{
    display: flex;
    margin: 1.5em 2em 0 0;
    /*justify-content: center;*/
    /*align-items: center;*/
}
.postParent{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 10em;
}
.postMute{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.postInteractions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 5em;
    margin-right: auto;
    margin-left: auto;
}

#postIcons{
    margin-right: 1em;
}
.postDetails{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5rem;
    margin-bottom: 1em;

}
#mute{
    margin-left: 2em;
}